version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    environment:
      - DB_URL=${DB_URL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - EMAIL_SENDER=${EMAIL_SENDER}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

  med_vision:
    build:
      context: .
      dockerfile: med_vision/Dockerfile
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: unless-stopped
